// Seu arquivo SCSS


mat-card {
    width: 100%; // Defina a largura do card para 80% da tela
    max-width: 100%; // Defina um valor máximo para a largura do card, se desejar
    text-align: center; // Centralize o conteúdo do card horizontalmente
    padding: 20px; // Adicione algum espaço interno, se necessário
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.title-container {
    flex-grow: 1;
    /* Permite que o título cresça para ocupar o espaço restante */
    text-align: center;
    /* Centraliza o texto horizontalmente */
}

.button-wrapper {
    align-self: flex-end;
    /* Coloca o botão no final da div */
}