<div class="background">
  <div class="container">
    <mat-card class="login-card">
      <mat-card-header>
        <div class="company-title">Cheap Travel</div>
      </mat-card-header>

      <mat-card-content>
        <form>
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" type="email" [(ngModel)]="email" name="email" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Identificação" type="text" [(ngModel)]="id" name="id" required>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="login()">Entrar</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
