// Seu arquivo SCSS

.background {
    background-image: url('../../assets/images/airplane.jpg'); // Substitua pelo caminho da sua imagem
    background-size: cover; // Ajusta o tamanho da imagem para cobrir todo o elemento pai
    background-repeat: no-repeat; // Impede que a imagem de fundo seja repetida
    background-position: center center; // Centraliza a imagem horizontal e verticalmente
    height: 100vh; // Garante que o elemento pai ocupe toda a altura da tela
    display: flex;
    align-items: center; // Centraliza o conteúdo verticalmente
    justify-content: center; // Centraliza o conteúdo horizontalmente
  }

  .container {
    display: flex;
    justify-content: flex-end; /* Alinhe à direita */
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px; /* Adicione margem interna, se necessário */
  }
  
  .login-card {
    text-align: center;
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 400px; /* Largura máxima do mat-card */
    flex-grow: 1; /* Expande para ocupar o espaço disponível na lateral direita */
    flex-shrink: 1; /* Permite encolher, se necessário */
  }
  
  .company-title {
    font-size: 24px;
    font-weight: bold;
  }